<h1>Schedule</h1>

<% Timeslot.all.in_order.each do |timeslot| %>
  <h3><%= timeslot.description %></h3>

  <table>
    <thead>
    <tr>
      <th>Judge</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @entries.select { |x| x.timeslot == timeslot }.each do |entry| %>
      <tr>
        <td><%= entry.judge_name_or_unnassigned %></td>
        <td><%= entry.entry_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<br>  <%= link_to 'Back', fairs_path %>
