<p>Welcome to the NEW Midrealm A&S Registration System!</p>
<p>This is where you can register to be an entrant, as well as a judge for the Middle Kingdom's annual A&S Faire - for both the Regional and Kingdom Faires!</p>
<p>PLEASE NOTE:  If you have not registered for a new account as of January 1st, 2020, you will be prompted to do so.  Old user accounts from the other system will not be recognized here.</p>
<hr>
<%= link_to('Login', new_user_session_path) %> | <%= link_to('Register', new_user_registration_path) %>