<%= form.hidden_field(:criteria_type_id, :value => criteria.id) %>
<p>Score:
  <%= form.number_field :score, required: true, step: 0.5, max: criteria.max_score %></p>
<p>Comments:<br>
  <%= form.text_area :comment, size: "50x5", required: true %></p>
