<%= form.hidden_field(:criteria_type_id, :value => criteria.id) %>
<p>Score:
  <%= form.number_field :score, required: false, step: 0.1, max: criteria.max_score, class: "children_for_#{criteria.parent.description}" %></p>
