<h1>Editing Criteria Description</h1>

<%= render 'form', criteria_description: @criteria_description %>

<%= link_to 'Show', @criteria_description %> |
<%= link_to 'Back', criteria_descriptions_path %>
